html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }

.row {
  display: flex;
  width: 100%;
  height: 450px; }
  @media (max-width: 666px) {
    .row {
      flex-direction: column;
      height: 82vh; } }

.gal-image1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/bearface.jpg");
  background-size: cover;
  height: 450px;
  width: 50%; }
  @media (max-width: 666px) {
    .gal-image1 {
      width: 90%;
      height: 82vh;
      margin: 20px auto; } }
  .gal-image1:hover {
    cursor: pointer; }
    .gal-image1:hover .link {
      transform: scale(1.3); }

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #999;
  border-radius: 50%;
  opacity: 0.8;
  width: 120px;
  height: 120px;
  transition: all 2s; }
  .link a {
    text-decoration: none;
    color: white; }

.gal-image2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/northern-lights.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 25%; }
  @media (max-width: 666px) {
    .gal-image2 {
      width: 90%;
      height: 82vh;
      margin: 20px auto; } }
  .gal-image2:hover .link {
    transform: scale(1.3); }
  .gal-image2 .link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #999;
    border-radius: 50%;
    padding: 30px;
    width: 50px;
    height: 50px;
    opacity: 0.8;
    transition: all 2s; }
    .gal-image2 .link:hover {
      transform: scale(1.3); }
    .gal-image2 .link a {
      text-decoration: none;
      color: white; }

.gal-image3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/northern-lights.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 25%; }
  @media (max-width: 666px) {
    .gal-image3 {
      width: 90%;
      height: 82vh;
      margin: 20px auto; } }
  .gal-image3:hover .link {
    transform: scale(1.3); }
  .gal-image3 .link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999;
    border-radius: 50%;
    padding: 30px;
    width: 50px;
    height: 50px;
    opacity: 0.8;
    transition: all 2s; }
    .gal-image3 .link:hover {
      transform: scale(1.3); }
    .gal-image3 .link a {
      text-decoration: none;
      color: white; }

.gal-image4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/northern-lights.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 25%; }
  @media (max-width: 666px) {
    .gal-image4 {
      width: 90%;
      height: 82vh;
      margin: 20px auto; } }
  .gal-image4:hover .link {
    transform: scale(1.3); }
  .gal-image4 .link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999;
    border-radius: 50%;
    padding: 30px;
    width: 50px;
    height: 50px;
    opacity: 0.8;
    transition: all 2s; }
    .gal-image4 .link:hover {
      transform: scale(1.3); }
    .gal-image4 .link a {
      text-decoration: none;
      color: white; }

.gal-image5 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/northern-lights.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 25%; }
  @media (max-width: 666px) {
    .gal-image5 {
      width: 90%;
      height: 82vh;
      margin: 20px auto; } }
  .gal-image5:hover .link {
    transform: scale(1.3); }
  .gal-image5 .link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999;
    border-radius: 50%;
    padding: 30px;
    width: 50px;
    height: 50px;
    opacity: 0.8;
    transition: all 2s; }
    .gal-image5 .link:hover {
      transform: scale(1.3); }
    .gal-image5 .link a {
      text-decoration: none;
      color: white; }

.gal-image6 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-image: url("../img/bearface.jpg");
  background-size: cover;
  height: 450px; }
  @media (max-width: 666px) {
    .gal-image6 {
      width: 90%;
      height: 82vh;
      margin: 20px auto; } }
  .gal-image6:hover .link {
    transform: scale(1.3); }
  .gal-image6 .link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999;
    border-radius: 50%;
    padding: 30px;
    width: 50px;
    height: 50px;
    opacity: 0.8;
    transition: all 2s; }
    .gal-image6 .link:hover {
      transform: scale(1.3); }
    .gal-image6 .link a {
      text-decoration: none;
      color: white; }

header {
  margin-top: 0;
  background-image: url("../img/snow.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh; }

li {
  list-style: none;
  display: inline;
  margin-right: 15px; }

li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black; }

.nav-bar {
  padding-top: 50px;
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between; }

ul {
  display: flex;
  align-items: center;
  justify-content: center; }

h2 {
  margin-right: auto;
  font-size: 1.8em;
  align-self: flex-end; }

.heading {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 30vh;
  color: white; }
  .heading h1 {
    margin: 0;
    font-size: 7.5em; }
  .heading p {
    font-size: 1.8em;
    margin: 0;
    text-transform: uppercase; }
  .heading img {
    height: 85px;
    width: 85px;
    align-self: center; }

hr {
  width: 20%;
  height: 4px;
  background: white; }

/*# sourceMappingURL=application.css.map */
