//////Gallery Styling /////

//Navbar Container

.secondary-nav {
  background-color: $background-color-primary;
  font-family: $font-family--secondary;
  font-weight: 100;
  display: flex;
  width: 100%;
  height: 80px;
  @media (max-width: 1000px) {
    display: none;
  }
}

//ul Element

.middle-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-nav li {
  @extend %links;
}

.middle-nav li a {
  @extend %links;
}

//Search

.secondary-nav p {
  color: $color-accent;
  text-transform: uppercase;
  margin-left: auto;
  font-size: 1em;
  align-self: center;
  margin-right: 35px;
}
