//////Gallery Styling /////

//Gallery Container

.container {
  @extend %secondary-text;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: $background-color-secondary;
}

//Row containing 3/6 images

.row {
  display: flex;
  width: 100%;
  height: 450px;

  @media (max-width: 780px) {
    flex-direction: column;
    height: 950px;
  }
}

// Hover icon and caption

a img {
  width: 70px;
}

.caption {
  @extend %caption-positioning;
  font-size: 1.3em;
}

.caption hr {
  width: 45px;
}

/////////////////Gallery Image Divs//////////////////////////

//Image #1

.gal-image1 {
  @extend %gallery-image;
  background-image: url('../img/home-raft.jpg');
  width: 50%;

  @media (max-width: 780px) {
    width: 90%;
    height: 950px;
    margin: 20px auto;
  }
  &:hover {
    cursor: pointer;
    .link {
      transform: scale(1.3);
      }
    }
    .link {
      @extend %hover-icon;
    }
  }


//Image #2

.gal-image2 {
  @extend %gallery-image;
  background-image: url('../img/home-basecamp.jpg');
  width: 25%;

  @media (max-width: 780px) {
    width: 90%;
    height: 950px;
    margin: 20px auto;
  }

  &:hover {
    .link {
      transform: scale(1.3);
    }
  }
  .link {
    @extend %hover-icon;
  }
}

//Image #3

.gal-image3 {
  @extend %gallery-image;
  background-image: url('../img/home-backpacking.jpg');
  width: 25%;

  @media (max-width: 780px) {
    width: 90%;
    height: 950px;
    margin: 20px auto;
  }

  &:hover {
    .link {
      transform: scale(1.3);
    }
  }
  .link {
    @extend %hover-icon;
  }
}

//Image #4

.gal-image4 {
  @extend %gallery-image;
  background-image: url('../img/home-canoe.jpg');
  width: 25%;
  @media (max-width: 780px) {
    width: 90%;
    height: 950px;
    margin: 20px auto;
  }
  &:hover {
    .link {
      transform: scale(1.3);
    }
  }
  .link {
    @extend %hover-icon;
  }
}

//Image #5

.gal-image5 {
  @extend %gallery-image;
  background-image: url('../img/home-photo.jpg');
  width: 25%;
  @media (max-width: 780px) {
    width: 90%;
    height: 950px;
    margin: 20px auto;
  }
  &:hover {
    .link {
      transform: scale(1.3);
    }
  }
  .link {
    @extend %hover-icon;
  }
}

//Image #6

.gal-image6 {
  @extend %gallery-image;
  width: 50%;
  background-image: url('../img/home-custom.jpg');
  @media (max-width: 780px) {
    width: 90%;
    height: 950px;
    margin: 20px auto;
  }
  &:hover {
    .link {
      transform: scale(1.3);
    }
  }
  .link {
    @extend %hover-icon;
  }
}
