//////////Header Styles///////////

//Navbar

header {
  margin-top: 0;
  font-family: 'Fjalla One';
  letter-spacing: .1em;
  background-image: url('../img/hero-slide1.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.nav-bar img {
  width: 50px;
  margin-right: 10px;
}

.fa-bars {
  display: none;

  @media (max-width: 1000px) {
    display: block;
    font-size: 1.6em;
  }
}

.main-nav li {
  list-style: none;
  display: inline;
  margin-right: 15px;
  @media (max-width: 1075px) {
    font-size: .9em;
  }
}

.main-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}


.main-nav {
  // border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1000px) {
    display: none;
  }
}

.nav-bar {
  // border: 1px solid red;
  color: #fff;
  padding-top: 50px;
  display: flex;
  width: 85%;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 70px;
    align-items: center;
}


h2 {
  font-family: 'Playfair Display';
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 0;
  margin-right: auto;
  font-size: 1.6em;
  align-self: center;

  @media (max-width: 1075px) {
    font-size: 1.5em;
  }
}

img {
  align-self: center;
}



//Centered featured text


.heading {
  flex-wrap: nowrap;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 30vh;
  color: white;
  @media (max-width: 1000px) {
    margin-top: 70px;
  }
  h1 {
    font-family: 'Playfair Display';
    margin: -20px;
    font-weight: 700;
    font-size: 7em;
    @media (max-width: 1000px) {
      font-size: 5em;
      margin: 0;
    }
  }

  p {
    font-size: 1.5em;
    margin: 0;
    text-transform: uppercase;
    @media (max-width: 1000px) {
      font-size: .9em;
    }
  }
  img {
    height: 85px;
    width: 85px;
    align-self: center;
    margin-bottom: 10px;
  }
}

hr {
  border-top: 2px solid white;
  width: 20%;
  background: white;
  margin-top: 0;
  @media (max-width: 1000px) {
    border-top: 1px solids white;
  }
}

.faux-button {
  margin-top: 130px;
  font-size:  .7em;
  color: white;
  background-color: #dc7725;
  padding: 20px 16px 20px 16px;
  width: 150px;
  align-self: center;

  @media (max-width: 1000px) {
    display: none;
  }
}
