//////////Header Styles///////////

//Navbar

header {
  margin-top: 0;
  background-image: url('../img/mtn-sunset.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.fa-bars {
  display: none;

  @media (max-width: 1000px) {
    display: block;
    font-size: 1.6em;
  }
}

li {
  list-style: none;
  display: inline;
  margin-right: 15px;
  @media (max-width: 1075px) {
    font-size: .9em;
  }
}

li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.nav-bar {
  // border: 1px solid red;
  color: #fff;
  padding-top: 50px;
  display: flex;
  width: 85%;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 70px;
    align-items: center;
}

ul {
  // border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1000px) {
    display: none;
  }
}

h2 {
  text-transform: uppercase;
  margin-right: 0;
  margin-right: auto;
  font-size: 1.8em;
  align-self: center;

  @media (max-width: 1075px) {
    font-size: 1.5em;
  }
}

img {
  align-self: center;
}



//Centered featured text


.heading {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 30vh;
  color: white;
  h1 {
    margin: 0;
    font-size: 7.5em;
  }
  p {
    font-size: 1.5em;
    margin: 0;
    text-transform: uppercase;
  }
  img {
    height: 85px;
    width: 85px;
    align-self: center;
  }
}

hr {
  border-top: 2px solid white;
  width: 20%;
  height: 4px;
  background: white;
}
