//////////NAVBAR STYLING///////////

//Header Element

header {
  @extend %secondary-text;
  margin-top: 0;
  background-image: url('../img/hero-slide1.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

//Navbar Container

.nav-bar {
  padding-top: 50px;
  display: flex;
  width: 85%;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 70px;
    align-items: center;
}

//.main-nav ul

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1000px) {
    display: none;
  }
}

.main-nav li {
  @extend %links;
  @media (max-width: 1075px) {
    font-size: .9em;
  }
}

.main-nav li a {
  @extend %links;
}

//Logo elements

.nav-bar img {
  width: 50px;
  margin-right: 10px;
  align-self: center;
}

h2 {
  @extend %logo-text;
  margin-right: 0;
  margin-right: auto;
  font-size: 1.6em;
  align-self: center;

  @media (max-width: 1075px) {
    font-size: 1.5em;
  }
}

//Hamburger

.fa-bars {
  display: none;

  @media (max-width: 1000px) {
    display: block;
    font-size: 1.6em;
  }
}
