//////////NAVBAR STYLING///////////

header {
  margin-top: 0;
  font-family: 'Fjalla One';
  letter-spacing: .1em;
  background-image: url('../img/hero-slide1.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.nav-bar img {
  width: 50px;
  margin-right: 10px;
}

.fa-bars {
  display: none;

  @media (max-width: 1000px) {
    display: block;
    font-size: 1.6em;
  }
}

.main-nav li {
  list-style: none;
  display: inline;
  margin-right: 15px;
  @media (max-width: 1075px) {
    font-size: .9em;
  }
}

.main-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  &:hover {
    color: #dc7725;
  }
}


.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1000px) {
    display: none;
  }
}

.nav-bar {
  color: #fff;
  padding-top: 50px;
  display: flex;
  width: 85%;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 70px;
    align-items: center;
}


h2 {
  font-family: 'Playfair Display';
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 0;
  margin-right: auto;
  font-size: 1.6em;
  align-self: center;

  @media (max-width: 1075px) {
    font-size: 1.5em;
  }
}

img {
  align-self: center;
}
